[theme="2"] {
    --backgorund-btn: rgb(50, 50, 50);
    --color-btn: rgb(150, 150, 150);
    --background-btn-active: rgb(31, 31, 78);
    --background: rgb(33, 33, 33);
    --color: rgb(200, 200, 200);
}

[theme="1"] {
    --backgorund-btn: rgb(180, 180, 180);
    --color-btn: rgb(50, 50, 50);
    --background-btn-active: rgb(146, 146, 255);
    --background: rgb(200, 200, 200);
    --color: rgb(33, 33, 33);
}

[theme="0"] {
    --backgorund-btn: rgb(177, 143, 104);
    --color-btn: rgb(67, 48, 46);
    --background-btn-active: rgb(205, 133, 63);
    --background: rgb(250, 235, 215);
    --color: rgb(67, 48, 46);
}

$size: 10;

* {
    font-family: '微軟正黑體', 'Segoe UI Symbol';
    font-size: 20px;
    font-weight: bolder;
    color: var(--color);
}

html,
body {
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    overflow: auto;
    display: flex;
    background-color: var(--background);

    >div {
        width: 100%;
        display: flex;

        &.view {
            flex: 1 1 auto;
        }
    }
}

html {
    justify-content: center;

    flex-direction: row;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

body {
    max-width: 800px;
    min-height: 100vh;
    height: 100vh;
    width: 800px;
    min-width: 300px;
    flex-direction: column;
}

.w100 {
    width: 100%;
}

div {
    box-sizing: border-box;
}

.detail {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 0;
    overflow: hidden;
    background-color: var(--background);

    #tabs {
        min-height: 0;
        overflow: hidden;
    }

    #nav {
        button {
            &.active {
                background-color: var(--background-btn-active);
            }
        }
    }

    .tab {
        white-space: pre-wrap;
        overflow-y: auto;
        min-height: 0;
        padding: 3%;

        &:not(.active) {
            display: none;
        }
    }
}

button {
    flex: 1;
    outline: none;
    border: 1px solid var(--color-btn);
    margin: 5px;
    background-color: var(--backgorund-btn);
    font-weight: bolder;

    &:empty {
        display: none;
    }
}

input,
select {
    flex: 1;
    min-width: 0;
    background-color: var(--backgorund-btn);
    outline: none;
    border: 1px solid var(--color-btn);
    margin: 5px;
}

[tab]:not([active]:first-child) {
    display: none;
}

.mt {
    margin-top: 4vh;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1 1 0;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.action {
    border-top: 1px solid var(--color-btn);
}

[gua] {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    line-height: 60px;

    @media (min-width:600px) {
        font-size: 80px;
        line-height: 80px;
    }

    @media (min-width:800px) {
        font-size: 100px;
        line-height: 100px;
    }

    color: var(--color);
    font-family: 'Segoe UI Symbol';

    &::after {
        font-size: 20%;
    }

    &[gua="1"]::before {
        content: '☰';
    }



    &[gua="2"]::before {
        content: '☱';
    }


    &[gua="3"]::before {
        content: '☲';
    }


    &[gua="4"]::before {
        content: '☳';
    }


    &[gua="5"]::before {
        content: '☴';
    }



    &[gua="6"]::before {
        content: '☵';
    }



    &[gua="7"]::before {
        content: '☶';
    }


    &[gua="8"]::before {
        content: '☷';
    }

}

.show-detail {
    [gua] {
        &[gua="6"]::after {
            content: '6 坎(水)';
        }

        &[gua="1"]::after {
            content: '1 乾(天)';
        }

        &[gua="2"]::after {
            content: '2 兌(澤)';
        }

        &[gua="3"]::after {
            content: '3 離(火)';
        }

        &[gua="4"]::after {
            content: '4 震(雷)';
        }

        &[gua="5"]::after {
            content: '5 巽(風)';
        }

        &[gua="7"]::after {
            content: '7 艮(山)';
        }

        &[gua="8"]::after {
            content: '8 坤(地)';
        }
    }
}